<a href="https://time.is/Toronto" id="time_is_link" rel="nofollow" style="font-size:50px;background:#00000000">Toronto Time</a>
<span id="Toronto_z18a" style="font-size:50px;background:#00000000"></span>
<script src="//widget.time.is/en.js"></script>
<script>
time_is_widget.init({Toronto_z18a:{template:"TIME<br>DATE", date_format:"dname daynum-year week"}});
</script>
