<a href="https://time.is/Tokyo" id="time_is_link" rel="nofollow" style="font-size:50px;background:#00000000">Tokyo Time</a>
<span id="Tokyo_z444" style="font-size:50px;background:#00000000"></span>
<script src="//widget.time.is/en.js"></script>
<script>
time_is_widget.init({Tokyo_z444:{template:"TIME<br>DATE", date_format:"dname daynum-year week"}});
</script>
